body{
  
}
.wg-btn {
  
  padding: 10px;
  border: 1px solid grey;
  color:#5e9eb3;
  border-radius:5px;
  background-color: azure;
  text-decoration: none;
}
.wg-text-center{
  text-align: center;
}
.wg-height-100px{
  height:100px;
}
.wg-height-30px{
  height:30px;
}
.wg-full-width{
  width:100%;
}
.wg-2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
}

#home-page-first-box{
  background: url('../images/hero-bg.jpg');
  background-size: cover;
  margin: 0px;
  background-position: center;
  background-color: #000000b3;
  background-blend-mode: darken, luminosity;
  width: 100%;
  height:32em;
  padding:10em;
  text-align: center;
}

#home-box-text h1{
  color:#dcd6d6;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#home-box-text h2{
  color:#999;
}

#home-about {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../images/hero-bg.jpg') fixed center center;
  background-size: cover;
  text-align:center;
  align-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 65px 0 90px;
}
#home-about h1 {
  font-weight:bold;
}
.underline{
  display: inline-block;
  width:5em;
  height:0.3em;
  background-color: #8bc34a;
}

.wg-badge-green {
  background-color: #8bc34a;
  color:white;
}

.wg-float-right{
  float:right;
  margin-right:1em;
}


.wg-btn:hover {
  
  text-decoration: none;
  color:red;
}

.wg-btn > a:link {
  
  text-decoration: none;
  
}
.wg-store-img{
  max-width:100%;
  max-height:100%;
}

.card{
  background-color:#fcfffe;
}
.btn-blend {
  background-color: #ff4800;
}
.btn {
  border-radius:10px;
  border:none;
}

form#login {
  color:grey;
}
.card-header {
  color:grey;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wg-ml-30px{
  margin-left:30px;
}

.wg-store-item-wrapper{

  font-size: 0.8em;
}

.wg-product-name{
  font-size: 1.6em;
}
.wg-product-price {
  font-size : 1.5em;
}
.wg-colored-link {
  padding:1em;
  background-color: #8bc34a;
}

.wg-fixed-bottom-right{
  position: fixed;
  bottom:0px;
  right:0px;
  z-index:10000;
}

.wg-sm-product-btns {
  padding:auto;
  background-color: #8bc34a;
  color:white;
  font-size: 1.2em;
  text-align: center;
  padding: 0.1em;
  
}
.wg-luicid-font {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#wg-espoints{
  padding:0.3em;
}

.wg-store-item{
  display:grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 10px;
  padding:15px;
  grid-auto-rows: minmax(100px,auto);
  height:250px;
}
.wg-product-description{
  border-left : 2px solid grey;
  padding-left:10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wg-product-btns {
  display: grid;
  grid-template-columns:2fr 2fr;
  grid-column-gap:0.4em;
  align-content: flex-end;
}
.wg-service-header-grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap:10px;
  grid-auto-rows: minmax(auto,auto);
}

#our-services {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../images/hero-bg.jpg') fixed center center;
  background-size: cover;
  margin: 0px;
  background-position: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wg-fa-lg {
  font-size: 2em;
  color:white;
  background-color: #8bc34a;
  padding: 0.3em;
  border-radius: 100%;
}

.modal-header{
  border-bottom: none;

}
.modal-content {
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.service-content > h2 {
  font-size: 1.6em;
}

.post-grid {
  display:grid;
  grid-template-columns:1fr 2fr;
  grid-column-gap:3px;
}

.popular-posts .entry-content {
  width:unset;
}



@media(min-width:500px){
  .wg-ml-30px{
    margin-left: auto;
  }
}